.dashboard-text-container {
    position: relative;
    top: 0;
    left: 50%;
    width: 25%;
    height: max-content;
    translate: -59% -20%;
    transition: transform 0.2s linear;
    border-radius: 50%;
    /* background: radial-gradient(ellipse at center, #53426b, #53426ba7, #53426b4b, transparent); */
    z-index: 3;
    user-select: none;
    background-image: radial-gradient(closest-side, rgba(255, 255, 255, 0.34), #1604304b);
}
.dashboard-text-container:hover {
    background-image: radial-gradient(closest-side, rgba(255, 255, 255, 0.444), #1b063783);
}

.dashboard-text-container[data-rotation='0'] {
    transform: rotate(-40deg);
}

.dashboard-text-container[data-rotation='1'] {
    transform: rotate(-150deg);
}

.dashboard-text-container[data-rotation='2'] {
    transform: rotate(-265deg);
}
