.custom-range-input {
    background: linear-gradient(
        to right,
        #a47cd4 0%,
        #a47cd4 var(--input-val),
        #fff var(--input-val),
        #fff 100%
    );
}

.custom-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: ew-resize;
    background-color: #a47cd4;
}
