.custom-range-input {
    background: linear-gradient(
        to right,
        var(--range-input-primary-bg) 0%,
        var(--range-input-primary-bg) var(--input-val),
        var(--range-input-secondary-bg) var(--input-val),
        var(--range-input-secondary-bg) 100%
    );
}

.custom-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: ew-resize;
    background-color: var(--range-input-primary-bg);
}
