@tailwind base;
@tailwind components;
@tailwind utilities;

/* background */
:root {
    --main-bg: #000000;

    /* simulation-room */
    --simulation-room-bg: 0 0 0;
    --simulation-room-sidebar-bg: 16 18 19;
    --simulation-room-sidebar-color: 255 255 255;
    --simulation-room-sidebar-menu-bg: 28 30 38;
    --simulation-room-sidebar-menu-color: 255 255 255;
    --simulation-room-gradient-from: 0 0 0;
    --simulation-room-gradient-to: 24 25 26;
    --simulation-room-gradient-color: 255 255 255;
}

body {
    height: 100vh;
    background-color: var(--main-bg);
    color: rgb(255, 255, 255);
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none; /* WebKit */
}

/* This will hide the scrollbar but still allow scrolling */
/* This is a common technique used to hide the scrollbar without disabling scrolling */
/* However, it will not work for browsers that do not support WebKit's display: none on scrollbar */
/* So, it might not completely hide the scrollbar in all browsers */
/* Use it cautiously */
.overflow-y-auto::-webkit-scrollbar {
    display: none; /* WebKit */
}

#root {
    height: 100%;
}
